<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BEAUTY SEARCH</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <center>
    Dior
 </center>
    <div id="productNames">
    <%- firstDiv %> <br>
    </div>

    <div id="productNames">
    <%- secondDiv %> <br>
    </div>

    <div id="productNames">
    <%- thirdDiv %> <br>
    </div>

    <div id="productNames">
    <%- fourthDiv %> <br>
    </div>
  </body>
</html>

